html {
    display: block;
}
body{
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    margin: 0;
}

nav {
    background-color: black;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
    padding: 0 10px;
}

nav ul li:hover {
    background-color: #1D6F1D;
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.header {
    background-image: url(../img/cabeçalho.png);
    width: 100%;
    height: 106px;
    background-repeat: no-repeat;
    background-position: center;
}

.section1-apresentacao {
    background-image: url(../img/secao1.png);
    width: 100%;
    height: 555px;
    background-repeat: no-repeat;
    background-position: center;
}

.section2-projetos {
    background-image: url(../img/secao2.png);
    width: 100%;
    height: 495px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction:row;
}

.pages-internet {
    width: 100%;
    height: 495px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

#page1, #page2, #page3, #page4 {
    background-image: url(../img/page.png);
    width: 243px;
    height: 225px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 7em 1em 0 1em;
}

#page1:hover, #page2:hover, #page3:hover, #page4:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
}

.section3-experiencia {
    background-image: url(../img/secao3.png);
    width: 100%;
    height: 570px;
    background-repeat: no-repeat;
    background-position: center;
}

.section4-formacoes {
    background-image: url(../img/secao4.png);
    width: 100%;
    height: 513px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.formacoes {
    width: 100%;
    height: 200px;
    margin: 13em 0 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

#formacao1, #formacao2, #formacao3 {
    margin: 0 30px;
    width: 200px;
    height: 192px;
}

#formacao1:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4em;
}

#formacao2:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4em;
}

#formacao3:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4em;
}

.footer {
    background-image: url(../img/rodape.png);
    width: 100%;
    height: 325px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: 0;
}

.contact {
    width: 750px;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin: 1em 4em 0 0;
}

#left-contact {
    width: 387px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: static;
}

#right-contact {
    width: 290px;
    height: 190px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: static;
    margin: 2em 0 0 4em;
}