@media (max-width: 1200px) {
    /* Ajustes para larguras até 1200 pixels */
}
   
@media (max-width: 992px) {
    /* Ajustes para larguras até 992 pixels */
}
   
@media (max-width: 768px) {
    /* Ajustes para larguras até 768 pixels */
}
   
@media (max-width: 576px) {
    /* Ajustes para larguras até 576 pixels */
}

@media (orientation: portrait) {
    /* Estilos para dispositivos em modo retrato */
    }
    
@media (orientation: landscape) {
/* Estilos para dispositivos em modo paisagem */
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

nav {
    background-color: black;
    width: 1225px;
    height: 60px;
    position: fixed;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
    padding: 0 10px;
}

nav ul li:hover {
    background-color: #1D6F1D;
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.header {
    background-image: url(../img/cabeçalho.png);
    width: 100vw;
    height: 106px;
    background-repeat: no-repeat;
    background-position: center;
}

.section1 {
    background-image: url(../img/secao1.png);
    width: 100vw;
    height: 555px;
    background-repeat: no-repeat;
    background-position: center;
}

.section2 {
    background-image: url(../img/secao2.png);
    width: 100vw;
    height: 495px;
    background-repeat: no-repeat;
    background-position: center;
}

.section3 {
    background-image: url(../img/secao3.png);
    width: 100vw;
    height: 570px;
    background-repeat: no-repeat;
    background-position: center;
}

.section4 {
    background-image: url(../img/secao4.png);
    width: 100vw;
    height: 513px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    background-image: url(../img/rodape.png);
    width: 100vw;
    height: 325px;
    background-repeat: no-repeat;
    background-position: center;
}